# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc

# Variables de entorno
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Datos y archivos pesados
*.zip
*.rar
*.7z

# Modelos entrenados
models/
checkpoints/
outputs/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
desktop.ini